.wrapper {
  min-height: 500px;
  margin-top: 100px;
}

.ItemDonHang {
  border: 2px solid var(--input_color);

  margin: 5px 5px;
  border-radius: 5px;
  display: block;
  padding: 0px 10px 0px 10px;

  li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;

    .Content {
      font-size: 20px;
      color: black;
    }

    .icon {
      font-size: 20px;
      color: rgb(49, 173, 240);
    }

    .boxIcon {
      width: 40px;
    }
  }
}

.IconCheckPay {
  color: green;
  font-size: 30px;
  padding: 5px;
  border: 2px solid green;
  border-radius: 50%;
}

.ConTentPay {
  font-size: 20px;
  color: green;
  margin-bottom: 8px;
}

.IconNoCheckPay {
  color: orangered;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px;
  border: 2px solid orangered;
  border-radius: 50%;
}

.ConTentNoPay {
  font-size: 20px;
  color: orangered;
  margin-bottom: 8px;
}

.boxTrangThai {
  display: flex;
  flex-direction: column-reverse;
}

.CusTomColItem {
  position: relative;
}

.btnHoverAddress {
  position: relative;
  cursor: pointer;

  &:hover > .wrapperTrangThai {
    display: block;
  }
}

.btnHoverTrangThai {
  position: absolute;
  color: var(--color_red);
  top: 13px;
  right: 13px;
  cursor: pointer;

  &:hover {
    filter: brightness(150%);
  }
}

.ColorRed {
  color: red;
}

.ColorYellow {
  color: rgb(243, 243, 89);
}

.ColorGreen {
  color: green;
}

.wrapperTrangThai {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgb(164, 162, 162);
  display: none;
  width: 100%;
  top: 0;
  padding: 5px;
}

.ContenFullMail {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgb(164, 162, 162);
  display: none;
  width: 100%;
  top: 0;
  padding: 5px;
}

.btnHoverEmail {
  cursor: pointer;
  position: relative;

  &:hover > .ContenFullMail {
    display: block;
  }
}

.wrapperLeft {
  background-color: whitesmoke;
  box-shadow: 5px 5px 20px rgb(122, 119, 119);
  min-height: 500px;
  margin-top: 5px;
  margin-right: 20px;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;

  h1 {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    color: var(--color_red);
  }

   
  ul {
    margin: 30px 0;

    li {
      display: flex;
      align-items: center;
      margin: 10px 0;

      label {
        display: flex;
        font-size: 20px;
        cursor: pointer;
        width: 100%;
      }

      input {
        appearance: none;
      }

      .textContent {
        width: 100%;
      }

      input[type="checkbox"]:checked + .customiconcheck {
        display: block;
      }

      .customCheckBox {
        $boder-color:chartreuse;
        width: 21px;
        height: 20px;
       
        border: 2px solid var(--input_color);
        border-radius: 5px;
        position: relative;
        overflow: visible;

        &.activecolor {
          background-color: $boder-color;
          border-color: $boder-color ;
        }
      }

      .customiconcheck {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        color: white;
      }
    }
  }
}

@media (max-width: 415px){
  .wrapperLeft{
    padding: 8px;
    margin: 0 6px;
    min-height: 100px;
  }
  .CustomRow2{
    margin-top: 40px;
  }
}