.InfoPay {
  padding-right: 15px;

  textarea {
    max-width: 100%;
    width: 100%;
    height: 100px;
    padding: 10px 0 0 10px;
    outline: none;
    border-radius: 5px;
    &:focus {
      border-color: rgb(167, 167, 245);
      box-shadow: 0 0 0 0.25rem rgb(167 167 245 / 25%);
    }
  }
}
.InfoBill {
  margin-left: 15px;
  border: 2px solid var(--color_red);
  border-radius: 5px;
  padding: 0 16px 16px 16px;
}
.warpper {
  margin-top: 50px;
}
.TitleClass {
  color: black;
  margin-bottom: 30px;
  margin-top: 16px;
}
.Title2 {
  display: flex;
  font-size: 20px;
  border-bottom: 2.5px solid var(--input_color);
  padding-bottom: 10px;
  .flex1 {
    flex: 1;
  }
}
.ULBox {
  li {
    display: flex;
    align-items: center;
    padding: 22px 0;
    font-size: 20px;
    border-bottom: 1px solid var(--input_color);
  }
  div {
    display: flex;
    flex: 1;
    align-items: center;
  }
  .ULBoxNameSp {
    color: var(--textContent_color);
    margin-right: 8px;
    font-size: 16px;
  }
  .ULBoxSl {
    color: var(--text_mo);
  }
}
.sumMoney {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-top: 20px;
  p {
    flex: 1;
  }
}
.formGroup {
  display: flex;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 20px;
  input {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-right: 10px;
  }
  label {
    font-size: 16px;
    cursor: pointer;
  }
}
.boxTinhThanh {
  position: relative;
}
.boxKhuVuc {
  position: absolute;
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid var(--input_color);
  top: 52px;
  z-index: 2000;
  overflow: hidden;
}
.BtnS {
  display: flex;
  justify-content: space-around;
  height: 50px;
  border-bottom: 1px solid var(--input_color);
  position: relative;

  .Btn {
    font-size: 18px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    &.active {
      color: var(--color_red);
    }
  }

  .underline {
    position: absolute;
   
    height: 2px;
    bottom: 0;
    background-color: var(--color_red);
    transition: all 0.2s linear;
  }
}
.boxDataTinhThanh {
  overflow: hidden;
  overflow-y: scroll;
  height: 198px;
  background-color: white;

  li {
    padding: 12px 0 12px 10px;
    cursor: pointer;

    &:hover {
      background-color: var(--input_color);
      color: var(--color_red);
    }
  }
}
.SearchTinhThanh {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 10px;
  outline: none;
  border-radius: 5px;
  border-style: solid;
  border-color: var(--input_color);
  border-width: 2px;
  padding-left: 10px;
  &:focus {
    border-color: rgb(167, 167, 245);
    box-shadow: 0 0 0 0.25rem rgb(167 167 245 / 25%);
  }
}
.FormTk {
  position: absolute;
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid var(--input_color);
  top: 70px;
  z-index: 2000;
  overflow: hidden;
  overflow-y: scroll;
  li {
    padding: 12px 0 12px 10px;
    cursor: pointer;
    font-size: 18px;
    &:hover {
      background-color: var(--input_color);
      color: var(--color_red);
    }
  }
  h1 {
    font-size: 22px;
    text-align: center;
    color: red;
    vertical-align: middle;
    line-height: 250px;
  }
}

@media (max-width: 415px) {
  .TitleClass2 {
    text-align: center;
    font-size: 20px;
  }
  .InfoBill,
  .InfoPay {
    padding: 10px 5px;
    margin: 0 5px;
  }
  .InfoBill {
    margin-top: 40px;
  }
  .BtnS {
    .Btn {
      font-size: 12px;
    }
   
  }
}
