@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

:root {
  --main_clolor: rgb(40, 39, 39);
  --footer_color: #171717;
  --textTitle_color: #1c1c1c;
  --textContent_color: #6e7d90;
  --form_color: rgb(246, 242, 240);
  --input_color: rgb(220, 223, 223);
  --lablel_color: #222;
  --color_red: brown;
  --text_mo: #334862;
  --color_SidleBar: #dcdcdc;
  //
  --Margin_top: 58px;
}

body {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
}
html {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  image-rendering: pixelated;
  object-fit: cover;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
.blur {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}
.pagination {
  display: flex;
  justify-content: center;
  li {
    margin: 14px;

    color: #222;
    border: 2px solid var(--color_red);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    a {
      width: 40px;
      height: 40px;
      display: block;
    }

    &.active {
      background-color: var(--color_red);
      color: white;
    }
  }
}
@media (max-width: 415px) {
  $Size: 25px;
  .pagination {
    margin-top: 25px;
    li {
      line-height: $Size;
      a {
        width: $Size;
        height: $Size;

        text-align: center;
      }
    }
  }
}
